.button {
  display: block;
  padding: 0;
  margin: 0;

  color: $color-secondary-light;

  border: none;
  background-color: $color-accent;
  cursor: pointer;

  &--promo {
    display: flex;
    align-items: center;
    width: 340px;
    height: 75px;
    padding-left: 40px;
    margin-left: 56%;
    margin-bottom: 30px;

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 285px center;

    &:hover,
    &:focus {
      background-color: $color-accent-hover;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    outline: none;

    &--toggle {
      display: none;
      width: 50px;
      height: 50px;
    }

    &--nav-closed {
      display: block;

      &::before {
        content: "";
        position: absolute;
        top: 19px;
        left: 14px;

        width: 23px;
        height: 1px;

        background-color: $color-secondary-light;
        box-shadow: 0 5px 0 0 $color-secondary-light, 0 11px 0 0 $color-secondary-light;
      }
    }

    &--nav-opened {
      display: block;
      background-color: $color-secondary-light;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 26px;
        left: 10px;

        width: 31px;
        height: 1px;

        background-color: rgba($color-accent-dark, 0.2%);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
