.card {
  padding-left: 137px;
  min-height: 596px;

  &--greace {
    background-image: url("../img/card-bg-greace-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 607px top;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/card-bg-greace-desktop@2x.jpg");
    }
  }

  &--albania {
    background-image: url("../img/card-bg-albania-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 607px top;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/card-bg-albania-desktop@2x.jpg");
    }
  }

  &--makedonia {
    background-image: url("../img/card-bg-makedonia-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 607px top;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/card-bg-makedonia-desktop@2x.jpg");
    }
  }

  &--montenegro {
    background-image: url("../img/card-bg-montenegro-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 607px top;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/card-bg-montenegro-desktop@2x.jpg");
    }
  }

  &--croatia {
    background-image: url("../img/card-bg-croatia-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 607px top;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/card-bg-croatia-desktop@2x.jpg");
    }
  }
}

.card__title {
  position: relative;

  margin: 0;
  margin-bottom: 31px;
  padding-top: 9px;
  padding-bottom: 17px;

  font-size: 55px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: $color-basic-dark;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 175px;
    height: 3px;

    background-color: $color-accent;
  }
}

.card__description {
  margin: 0;
  max-width: 370px;
  margin-bottom: 49px;

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.46px;
  color: rgba($color-basic-dark, 0.7%);
}

@media (max-width: $tablet-width) {
  .card {
    position: relative;
    padding-left: 0;

    background: none;
  }

  .card__title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 22px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .card__description {
    max-width: 100%;
    margin-bottom: 18px;
    padding-left: 21px;
    padding-right: 21px;

    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .card__title {
    font-size: 24px;
    line-height: 36px;
  }
}
