.catalog {
  max-width: 1444px;
  margin: 0 auto;
  margin-top: -5px;
}

.catalog__tabs {
  margin-bottom: 81px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  position: relative;
}

.catalog__wrapper {
  background-image: url("../img/catalog-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center 15px;
}
