.catalog {
  max-width: 1444px;
  margin: 0 auto;
  margin-top: -5px;
}

.catalog__tabs {
  margin-bottom: 81px;
}

.catalog__list {
  @include list-reset;

  margin-bottom: 240px;
}

.catalog__item {
  position: relative;
}

.catalog__wrapper {
  background-image: url("../img/catalog-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center 15px;
}

@media (max-width: 1400px) {
  .catalog__list {
    margin-bottom: 70px;
  }
}

@media (max-width: $tablet-width) {
  .catalog {
    max-width: 100%;
    padding-top: 84px;
  }

  .catalog__wrapper {
    background: none;
  }

  .catalog__tabs {
    margin-bottom: 32px;
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    padding-top: 10px;
  }

  .catalog__tabs {
    margin-bottom: 24px;
  }
}

@media (max-width: $mobile-width) {
  .catalog__list {
    margin-bottom: 42px;
  }
}
