.popup-success {
  &--opened {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &--closed {
    display: none;
  }
}

.popup-success__overlay {
  width: 100vw;
  height: 100vh;

  background-color: rgba($color-basic-dark, 0.5%);
}

.popup-success__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 728px;
  height: 444px;
  padding-left: 190px;
  padding-right: 139px;

  background-color: $color-basic-light;

  transform: translate(-50%, -50%);
}

.popup-success__message {
  margin: 0;

  font-size: 25px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}

@media (max-width: $mobile-width) {
  .popup-success__wrapper {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
