.price {
  display: flex;
  justify-content: space-between;
}

.price__wrapper {
  order: 2;

  max-width: 299px;
  margin-right: 127px;
  padding-top: 111px;
}

.price__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 18px;

  font-size: 55px;
  font-weight: 600;
  line-height: 90px;
  color: $color-basic-dark;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 175px;
    height: 3px;

    background-color: $color-accent;
  }
}

.price__slogan {
  margin: 0;
  margin-bottom: 60px;

  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgba($color-basic-dark, 0.7%);
}

.price__contact-us {
  margin: 0;
  margin-bottom: 12px;
  padding-left: 45px;

  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: $color-accent-dark;
}

.price__phone {
  padding-left: 46px;

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;

  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: -4px -4px;

  transition: color 0.5s, opacity 0.5s;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:active {
    opacity: 0.7;
  }
}

.price__list {
  @include list-reset;

  display: flex;
  margin-left: 137px;

  order: 1;
}

.price__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1400px) {
  .price {
    flex-direction: column-reverse;
  }

  .price__wrapper {
    max-width: 100%;
    margin-right: 0;
    padding-top: 111px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .price__slogan {
    margin-bottom: 50px;

    text-align: center;
  }

  .price__contact-us {
    padding-left: 0;

    text-align: center;
  }

  .price__phone {
    display: block;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    text-align: center;

    background-position-x: 30px;
  }

  .price__list {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $tablet-width) {
  .price__title {
    padding-bottom: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 45px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .price__wrapper {
    padding-top: 11px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .price__slogan {
    margin-bottom: 33px;
  }

  .price__contact-us {
    margin-bottom: 9px;

    font-size: 18px;
  }

  .price__phone {
    position: relative;

    padding-left: 0;
    margin-bottom: 31px;

    font-size: 18px;
    color: $color-accent;

    background: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 7px;
      width: 187px;
      height: 1px;

      background-color: $color-accent;
    }
  }

  .price__list {
    width: 626px;
    justify-content: space-between;
  }

  .price__item {
    margin-right: 0;
  }
}
